@import "tailwindcss";

@keyframes loadbar {
  0% { width: 0; }
  50% { width: 70%; }
  100% { width: 95%; }
}

.loadbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background: #242EDB;
  z-index: 9999;
  animation: loadbar 2s ease-in-out infinite;
}
